.page {
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #073042;
    color: white;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}