.promo {
    min-height: 524px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #073042;
}

.promo__image {
    position: absolute;
    width: 320px;
    height: 320px;
    margin-bottom: 40px;
}

.promo__title {
    width: 730px;
    min-height: 116px;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin-bottom: 73px;
}

@media screen and (max-width: 1279px) {
    .promo {
        min-height: 784px;
    }

    .promo__title {
        margin-bottom: 50px;
    }

    .promo__image {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 767px) {
    .promo {
        min-height: 570px;
    }

    .promo__image {
        width: 248px;
        height: 248px;
        margin-bottom: 36px;
    }

    .promo__title {
        width: 300px;
        min-height: 117px;
        font-size: 31px;
        line-height: 39px;
        margin-bottom: 60px;
    }
}