.header_background-color_blue {
    background-color: #073042;
}

.header_background-color_grey {
    background-color: #202020;
}

.header__content {
    min-height: 74px;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.header__logo-image {
    height: 38px;
    width: 38px;
}

.header__profile-image {
    height: 13px;
    width: 13px;
    background: #313131;
    border-radius: 50px;
    margin-left: 7px;
    padding: 8px;
}

.header__profile-image-link:focus {
    outline-style: none;
}

@media screen and (max-width: 1279px) {
    .header__content {
        max-width: 708px;
    }
}

@media screen and (max-width: 767px) {
    .header__content {
        max-width: 292px;
    }
}