.header__content {
    min-height: 74px;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__image {
    height: 38px;
    width: 38px;
}

@media screen and (max-width: 1279px) {
    .header__content {
        max-width: 708px;
    }
}

@media screen and (max-width: 767px) {
    .header__content {
        max-width: 292px;
    }
}