.techs {
    padding: 100px 0;
    background-color: #272727;
}

.techs__content {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techs__labels {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    width: 690px;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .techs {
        padding: 90px 0;
    }

    .techs__content {
        margin: 0 auto;
        max-width: 668px;
    }

    .techs__labels {
        margin-top: 83px;
        width: 648px;
    }
}

@media screen and (max-width: 767px) {
    .techs {
        padding: 70px 0;
        background-color: #202020;
    }

    .techs__labels {
        margin-top: 50px;
        flex-wrap: wrap;
        width: 178px;
        align-content: space-between;
        min-height: 258px;
    }
}