.form-button {
    background: #4285F4;
    border-style: none;
    border-radius: 3px;
    width: 396px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}