.notfound-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 172px;
}

.notfound-page__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
}

.notfound-page__text {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 5px;
}

.notfound-page__button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    margin-top: 184px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.notfound-page__button:hover {
    opacity: 0.7;
}

.notfound-page__button:focus-visible {
    outline-color: #8B8B8B;
    outline-width: 1px;
    outline-offset: 1px;
    outline-style: dotted;
}

@media screen and (max-width: 767px) {
    .notfound-page {
        padding-top: 203px;
    }
    
    .notfound-page__title {
        font-size: 80px;
        line-height: 97px;
    }
    
    .notfound-page__text {
        font-size: 12px;
        line-height: 15px;
    }
    
    .notfound-page__button {
        font-size: 12px;
        line-height: 15px;
        margin-top: 284px;
    }
}